@import '../../style/home.style.scss';
.noty-container {
  background-color: $lightbg;
  border-radius: 8px;
  padding: 8px;
  color: $text;
  margin-top: 16px;
}
.noty-title {
  font-size: 24px;
}
.noty-card {
  display: flex;
  flex-direction: column;
  // align-items: end;
  margin-bottom: 8px;
  width: 100%;
}
.noty-cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  // margin-bottom: 8px;
}
.noty-card-text {
  font-size: 14px;
  margin: 0px;
  width: 100%;
  padding: 0px;
}
.noty-card-date {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: end;
  width: 100%;
}
