@import '../../style/home.style.scss';
.search {
  outline: none;
  border-radius: 4px;
  border-color: $lightGrey;
  border-width: 2px;

  &:active {
    outline: none;
  }
  &:hover {
    outline: none;
  }
}
