@import '../../style/home.style.scss';
.sidbarContainer {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  width: 100%;
}
.active {
  color: $pink;
}
a {
  padding: 0 8px;
  color: $text;
  margin: 8px 0;
  text-decoration: none;
}
