@import '../../style/home.style.scss';
.post {
  background: $lightbg;
  border-radius: 4px;
  padding: 4px;
  // width: 100%;
}
.post-txt {
  // max-height: fit-content;
  // width: 100%;
  //   he
  display: flex;
}
.btn-text {
  border: none;
  background: none;
}
